
@{
  ViewBag.Title = "Backstage";
}

<div class="page-header clearfix">
  <div class="pull-left">
    <h1>@ViewBag.Title <small>SistrategiaDrive</small></h1>
    @*<h4>Subtitle</h4>*@
  </div>
  @*<div class="pull-right">
      <div class="btn-group" style="bottom: 26px;position: relative;top:26px;">
        @Html.ActionLink("Editar", "Edit", null, new { @class = "btn btn-primary", @role = "button" })
      </div> autofocus
    </div>*@
</div>